In [16]:
try:
    import pymongo
    from pymongo import MongoClient
    import pandas as pd
    import json
except Exception as e:
    print("Some Modules are missing")
    
class MongoDB(object):
    
    def __init__(self, dBName = None, collectionName= None):
        
        self.dBName=dBName
        self.collectionName = collectionName
        
        self.client= MongoClient("mongodb+srv://adambandi:Adam78696!@cluster0.0gpxk.mongodb.net/<dbname>?retryWrites=true&w=majority")
        
        self.DB = self.client[self.dBName]
        self.collection= self.DB[self.collectionName]
        
    def InsertData(self, path = None):
        
        df = pd.read_csv(path)
        data = df.to_dict("records")
        
        self.collection.insert_many(data, ordered = False)
        print("All the Data has been Exported to Mongo DB Server ...")
        
if __name__ == "__main__":
    mongodb = MongoDB(dBName = "DataTracker", collectionName = "Products File")
    mongodb.InsertData(path= "mySQL3.csv")

All the Data has been Exported to Mongo DB Server ...

In [19]:
#insert multiple documents in a new collection
import dns
import pymongo
from pymongo import MongoClient

cluster = MongoClient("mongodb+srv://adambandi:Adam78696!@cluster0.0gpxk.mongodb.net/mydatabase?retryWrites=true&w=majority")
db = cluster['DataTracker']
mycol = db["Top 3 Products"]

mylist = [

  { "_id": 1,"product_name": "Simba", "category": "Chips"},             

{ "_id": 2,"product_name": "Lays", "category": "Chips"},

  { "_id": 3,"product_name": "Cadbury", "category": "Chocolate"},

  { "_id": 4,"product_name": "Tex", "category": "Chocolate"},

  { "_id": 5,"product_name": "Pepper Steak", "category": "Pies"},

  { "_id": 6,"product_name": "Chicken", "category": "Pies"},

]

x = mycol.insert_many(mylist)

In [20]:
for i in mycol.find():
    print(i)

{'_id': 1, 'product_name': 'Simba', 'category': 'Chips'}
{'_id': 2, 'product_name': 'Lays', 'category': 'Chips'}
{'_id': 3, 'product_name': 'Cadbury', 'category': 'Chocolate'}
{'_id': 4, 'product_name': 'Tex', 'category': 'Chocolate'}
{'_id': 5, 'product_name': 'Pepper Steak', 'category': 'Pies'}
{'_id': 6, 'product_name': 'Chicken', 'category': 'Pies'}

In [22]:
#sort the product name in descending order
mydoc = mycol.find().sort("product_name", -1)
for x in mydoc:
    print(x)

{'_id': 4, 'product_name': 'Tex', 'category': 'Chocolate'}
{'_id': 1, 'product_name': 'Simba', 'category': 'Chips'}
{'_id': 5, 'product_name': 'Pepper Steak', 'category': 'Pies'}
{'_id': 2, 'product_name': 'Lays', 'category': 'Chips'}
{'_id': 6, 'product_name': 'Chicken', 'category': 'Pies'}
{'_id': 3, 'product_name': 'Cadbury', 'category': 'Chocolate'}

In [24]:
#delete 2 rows 
myquery = { "product_name": {"$regex": "^C"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

2  documents deleted.

In [25]:
#update brand
myquery = { "product_name": "Simba" }
newvalues = { "$set": { "product_name": "Pepsi" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': 1, 'product_name': 'Pepsi', 'category': 'Chips'}
{'_id': 2, 'product_name': 'Lays', 'category': 'Chips'}
{'_id': 4, 'product_name': 'Tex', 'category': 'Chocolate'}
{'_id': 5, 'product_name': 'Pepper Steak', 'category': 'Pies'}

In [26]:
#Update product 
myquery = { "category": "Chips" }
newvalues = { "$set": { "category": "Cooldrink" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': 1, 'product_name': 'Pepsi', 'category': 'Cooldrink'}
{'_id': 2, 'product_name': 'Lays', 'category': 'Chips'}
{'_id': 4, 'product_name': 'Tex', 'category': 'Chocolate'}
{'_id': 5, 'product_name': 'Pepper Steak', 'category': 'Pies'}

In [30]:
#Search/Filter) for the least 5 brands in your products.
for x in mycol.find({},{ "_id": 1, "category": 1 }):
  print(x)

{'_id': 1, 'category': 'Cooldrink'}
{'_id': 2, 'category': 'Chips'}
{'_id': 4, 'category': 'Chocolate'}
{'_id': 5, 'category': 'Pies'}